*.class
target/
.idea
*.iml
antlr/
asm/
avalon-framework/
backport-util-concurrent/
bash.exe.stackdump
ch/
classworlds/
com/
commons-beanutils/
commons-chain/
commons-cli/
commons-codec/
commons-collections/
commons-digester/
commons-httpclient/
commons-io/
commons-lang/
commons-logging/
commons-validator/
dom4j/
javax/
jaxen/
jdom/
junit/
log4j/
logkit/
net/
org/
oro/
sslext/
urbanophile/
xalan/
xerces/
xml-apis/
xmlunit/
